body {
    background-color: #EDEFEE;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

header > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

nav {
    background-color: darkslategrey;
    border-radius: 25px;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav li {
    display: inline-block;
}

nav li a {
    color: white;
    display: block;
    padding: 10px;
    text-decoration: none;
}

#articles {
    display: grid;
    grid-template-areas: "article article article";
}

#articles article {
    flex: 1;
    background-color: blanchedalmond;
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 1rem;
    border-radius: 25px;
    margin-bottom: 1rem;
    margin-left: 5%;
    margin-right: 5%;
}

footer {
    display: flex;
    text-align: center;
}

footer div {
    flex: 1;
}

#menu {
    margin-right: 2%;
    margin-left: 2%;
    background-color: blanchedalmond;
    border-radius: 25px;
}

#menu article {
    flex: 1;
    color: grey;
    margin-left: 20px;
    display: grid;
}

#menu .desc {
    font-size: x-small;
}

#topImage {
    background-image: url('./../images/booking.png');
    background-position: 70% 70%;
    border-radius: 25px;
    padding-bottom: 1rem;
    color: white;
}

#topImage * {
    margin-left: 25px;
    margin-right: 25px;
}

#topImage h1 {
    padding-top: 15px;
}

#aboutContainer {
    background-color: blanchedalmond;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 25px;
    border-radius: 25px;
    margin-right: 2%;
    margin-left: 2%;
}